@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    text-align: center;
    background-color: cadetblue;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

body {
    background-color: chocolate;
}

.menu-item {
    margin: 5px;
    color: crimson;
    text-decoration: none;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

table {
    width: 75%;
    background-color: antiquewhite;
}


th {
    background: aqua;
}

tr:nth-child(odd) {
    background: darkgrey;
}

tr:nth-child(even) {
    background: grey;
    color: white;
}

.center-content {
    display:flex;
    align-items: center;
    align-content: center;
}

.circle {
    margin: 0 auto;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.online {
    background: chartreuse;
}

.offline {
    background: crimson;
}
