{% extends "base-template.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification">
                {{ messages[0] }}.</a>
            </div>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('bp_open.login_post') }}" method="POST">

        <input type="email" name="email" placeholder="Your email address" /> <br />
        <input type="password" name="password" placeholder="Enter password" /> <br />

        <input type="submit" value="Log In">

    </form>
{% endblock %}