{% extends "base-template.html" %}

{% block title %}
    User Page
{% endblock %}

{% block content %}
    <h1 id="main-heading">User Page</h1>
    <p>Hello {{ current_user.name }}</p>

    <table>
        <tr class="header_user">
            <th>User Name</th>
            <th>User Email</th>
            <th>Online</th>
        </tr>
        {% for user in users %}
            <tr>
                <td><a href="{{ url_for('bp_user.message_get', user_id=user.id) }}">{{ user.name }}</a></td>

                <td><a href="{{ url_for('bp_user.chat_get', user_id=user.id) }}">{{ user.email }}</a></td>
                <td class="center-content">
                    {% if user.online %}
                        <div class="circle online"></div>
                    {% else %}
                        <div class="circle offline"></div>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
    <span>Press username to chat</span>
    </table>

{% endblock %}

